# Server Configuration
PORT=4000

# Database Configuration
# MONGO_URI=mongodb+srv://sdeshan960_db_user:VbOBE4O9wIIk37tl@cluster0.sh73wl3.mongodb.net/
MONGO_URI=mongodb+srv://sdeshan960_db_user:ccD9dtJQP85rOLkI@lms.6jppdbx.mongodb.net/lms

# Host
# http://localhost:4000 -> https://lms-f679.onrender.com